*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 8em;
    width: 80%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius:0.4em;
}
.header{
    text-align: center;
    width: 100%;
    font-size:3em;
    background-color:black;
    color: white;
    border-radius:0.2em;

}
.main{
    background-color:#f5f5f5;
    width: 99%;
    text-align: center;
    font-size: 2em;
    border: 1px ridge;
    border-radius: 0.3em;
    font-weight: bold;
}
.answers{
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.answers-select{
    display:flex;
    align-items: center;
    width: 100%;
    height: 4em;
    background-color:#f5f5f5;
    border: 1px solid;
    text-align: center;
    border-radius: 0.3em;
}

.answers-select p{
    margin:0;
    padding:0;
    justify-content:flex-start;
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    margin-left: 1em;
}
#startQuiz{
    background-color:#8470ff;
    height:3em;
    width:10em;
    border-radius: 2em;
    border:none;
    font-size:2em;
    color:#f0f8ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#startQuiz:hover {background-color: #8470ff}

#startQuiz:active {
  background-color: #8470ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}